.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 15px 0; // TODO shared class
  .left {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        &:not(:last-child) {
          margin-right: 15px; // TODO shared class
        }
        a {
          &.-active {
            color: #ff4081; // TODO shared class
            font-weight: bold;
          }
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .status-bar {
      margin-right: 30px; // TODO shared class
      mat-icon:not(:last-child) {
        margin-right: 15px; // TODO shared class
      }
    }
    .profile {
      font-weight: bold; // TODO shared class
    }
  }
}

.content {
  margin: 30px 0; // TODO shared class
  .row {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 30px; // TODO shared class
    }

    .transactions {
      flex-grow: 3;
      width: auto;
    }
    .to-do {
      flex-grow: 1;
      width: auto;
    }
  }

  mat-card {
    width: 100%;
    border-radius: 8px;
    &:not(:last-child) {
      margin-right: 30px; // TODO shared class
    }
  }

  .card-bank-account {
    .account-header {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        .bank-name {
          font-weight: bold;
        }
      }
      .right {
        display: flex;
        align-items: center;
      }
    }
    .balance {
      margin-top: 15px; // TODO shared class
    }
  }
}

footer {
  > div {
    max-width: 900px;
    margin: 0 auto;
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}
