<header class="header">
  <div class="left">
    <div>
      <img class="logo" alt="ECorp Logo" src="assets/images/logo/logo.png"/>
    </div>
    <div>
      <ul>
        <li>
          <a class="-active" title="My accounts" href="#">My accounts</a>
        </li>
        <li>
          <a title="Transactions" href="#">Transactions</a>
        </li>
        <li>
          <a title="Cards" href="#">Cards</a>
        </li>
        <li>
          <a title="Loans" href="#">Loans</a>
        </li>
        <li>
          <a title="Investments" href="#">Investments</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="status-bar">
      <button mat-icon-button aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button aria-label="Mail">
        <mat-icon>mail</mat-icon>
      </button>
      <button mat-icon-button matBadgeColor="accent" aria-label="Notification: active" matBadge="4">
        <mat-icon>notifications_active</mat-icon>
      </button>
    </div>

    <button class="profile" mat-button aria-label="Profile: Martin Duris" name="Profile: Martin Duris">Martin Duris</button>

    <button mat-icon-button aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>

<div class="content">
  <router-outlet></router-outlet>

  <div class="row">
    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <div>
          <h1>Let`s do some transaction!</h1>

          <div>
            <form [formGroup]="newTransactionForm">
              <mat-form-field>
                <mat-label>Amount</mat-label>
                <input type="text" matInput formControlName="amount">
                <span matSuffix>€</span>
              </mat-form-field>

              <div>
                <button mat-raised-button color="primary" aria-label="New Transaction submit" name="New Transaction submit"
                  matTooltip="Insert NOT Number (e.g. 'abc') to trigger error - Core API - SQL error"
                  matTooltipClass="opentelemetry-case-red"
                  [disabled]="!newTransactionForm.valid"
                  *ngIf="!newTransactionSending"
                  (click)="newTransactionSubmit()"
                >Send money!</button>
                <div class="new-transactions-loading" *ngIf="newTransactionSending">
                  <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30" ></mat-progress-spinner>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="banner">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <div class="banner-content">
          <h2>Wanna some money?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus risus, pellentesque pharetra euismod ut, sagittis molestie mi.
            Donec facilisis, lacus vitae euismod dictum, erat turpis sodales ligula, mattis varius nunc lectus a mi.
          </p>
          <button mat-flat-button>Yes, i am interested!</button>
        </div>
        <div class="banner-image">
          <img alt="Loan banner" src="assets/images/banner/loan.png"/>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <mat-card class="card-bank-account" *ngFor="let account of accounts">
      <mat-card-content>
        <div class="account-header">
          <div class="left">
            <span class="bank-name">{{getTitleForBank(account['bank'])}}</span>
            <span class="mat-small account-number">{{account['accountNumber'] | creditCardMask}}</span>
          </div>
          <div class="right">
            <img class="logo" alt="ECorp Logo" [src]="getLogoForBank(account['bank'])"/>
          </div>
        </div>
        <div class="account-balance">
          <div>
            <span>{{account['amount'] | currency: '€'}}</span>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu">
              <!-- Load Transactions - OK -->
              <button name="See transactions"
                *ngIf="account['id'] !== 2 && account['id'] !== 4"
                mat-menu-item
                (click)="loadTransactions(account)"
              >
                <mat-icon>sync_alt</mat-icon>
                <span>See transactions</span>
              </button>
              <!-- Load Transactions - ERROR, Secured API -->
              <button name="See transactions"
                *ngIf="account['id'] === 2"
                mat-menu-item
                matTooltip="Click to trigger error, Secured API - forbidden access, gateway blocked access"
                matTooltipClass="opentelemetry-case-red"
                (click)="loadTransactions(account)"
              >
                <mat-icon>sync_alt</mat-icon>
                <span>See transactions</span>
              </button>
              <!-- Load Transactions - ERROR, CORE API -->
              <button name="See transactions"
                *ngIf="account['id'] === 4"
                mat-menu-item
                matTooltip="Click to trigger error, Core API - forbidden access, core API blocked access"
                matTooltipClass="opentelemetry-case-red"
                (click)="loadTransactions(account)"
              >
                <mat-icon>sync_alt</mat-icon>
                <span>See transactions</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row justify-content-center">
    <button mat-raised-button color="primary" aria-label="Load Accounts" name="Load Accounts"
      *ngIf="!loadingAccounts"
      (click)="loadAccounts()"
    >Load Accounts</button>
    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30" *ngIf="loadingAccounts"></mat-progress-spinner>
  </div>

  <div class="row">
    <mat-card class="transactions">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <div class="transactions-loading" *ngIf="loadingTransactions">
          <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30" ></mat-progress-spinner>
        </div>
        <div *ngIf="!loadingTransactions">
          <p>Count of transactions {{transactions.length}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="to-do">
      <mat-card-header></mat-card-header>
      <mat-card-content>What to do?</mat-card-content>
    </mat-card>
  </div>
</div>

<footer>
  <div>
    <ul>
      <li><a href="https://github.com/martinduris/opentelementry-example-projects" title="GitHub" target="_blank">GitHub</a></li>
      <li><a href="https://github.com/open-telemetry/opentelemetry-lambda" title="OpenTelemetry Lambda" target="_blank">OpenTelemetry Lambda</a></li>
      <li><a href="https://github.com/open-telemetry/opentelemetry-js" title="OpenTelemetry Node" target="_blank">OpenTelemetry Node</a></li>
    </ul>
  </div>
</footer>
